@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply antialiased bg-background text-foreground;
    font-family: 'Averia Sans Libre', sans-serif !important;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', cursive !important;
    color: #333232 !important;
  }
}